# OS
.DS_Store
Thumbs.db
.fuse_hidden*

# Tools
.idea/
.vscode/
porymap.*.cfg

# Emulation Files
*.sgm
*.sa1
*.ss[0-9]
*.sg1

# Build artifacts
build/
tools/agbcc
*.gba
!data/*.gba
*.elf
*.o
*.exe
*.a
*.i
*.sym
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
sound/songs/midi/*.s
*.map
*.dump

# Unknown/Other
*.sa*
*.bat
*.sna
*.diff
*.js
*.ddump
prefabs.json