# OS
.DS_Store
Thumbs.db
.fuse_hidden*

# Tools
.idea/
.vscode/
porymap.*.cfg

# Emulation Files
*.sgm
*.sa1
*.ss[0-9]
*.sg1
*.sa*

# Build artifacts
build/
tools/agbcc
*.gba
!data/*.gba
*.elf
*.o
*.exe
*.a
*.i
*.sym
*.4bpp
*.gbapal
*.lz
*.rl
*.map
*.dump

# Unknown/Other
*.bat
*.sna
*.diff
*.js
*.ddump
prefabs.json